@model List<Compony>


<div class="container">
    <div class="row pt-6">
        <div class="col-6">
            <h2 class="text-primary">Compony List</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Compony" asp-action="Upsert" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> Add New Compony
            </a>
        </div>
    </div>

    <partial name="_Notification"/>

    <table id="tblData" class="table table-bordered table-striped" style="width:100%">
        <thead>
        <tr>
            <th>Compony Name</th>
            <th>State</th>
            <th>City</th>
            <th>Street Address</th>
            <th>Phone Number</th>
            <th>Action</th>
        </tr>
        </thead>
    </table>
</div>


@section Scripts{
    <script src="~/js/compony.js">

    </script>
}